.cardList{
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	font-weight: 550;
}
.card{
	display: flex;
	flex-direction: column;
	height: auto;
	width: 250px;
	border: 0px solid;
	margin: 15px;
	background-color: #C43865;
	border: 0px solid;
	border-radius: 4px;
	box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.30);
}
.detail{
	padding: 10px;
}