@import "https://fonts.googleapis.com/css?family=Open+Sans";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #f3f3f3;
}
body {
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  min-width: 320px;
  background: #f3f3f3;
}

.header {
  color: white;
  max-width: 1500px;
  margin: 0 auto;
}

#company-name {
  font-size: 1.7em;
  color: #333;
  display: flex;
  white-space: nowrap;
  font-weight: bold;
}
#nav-bar {
  display: flex;
}

#form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#form-h1 {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#email {
  height: 30px;
  width: 280px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.submit {
  background-color: #ff6565;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 110px;
  margin: 5px;
  border: 0px solid;
  cursor: pointer;
}

.submit:hover {
  background-color: #5a1f70;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, box-shadow 0.6s;
}

.nav-link {
  display: flex;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 70px auto;
}
.product-image {
  margin-top: 120px;
}
.footer {
  height: auto;
  background-color: black;
  color: white;
  opacity: 0.9;
  font-weight: bold;
  margin-top: 100px;
  padding-bottom: 50px;
  padding-top: 15px;
}
