@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  min-width: 320px;
  background: linear-gradient(90deg, #D6596A, #4F3271);
}

#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  padding-top: 5px;
  margin-bottom: 200px;
  width: 100%;
  background-color: #eee;
  justify-content: space-around;
}
#company-name{
  font-size: 1.7em;
  color: #333;
  display: flex;
  white-space: nowrap;
  font-weight: bold;

}
#nav-bar {
  display: flex;
}

.ul-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#form-h1 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

#email {
  height: 30px;
  width: 280px;
  padding: 5px;
  margin: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

#submit {
  background-color: #FF6565;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 110px;
  margin: 5px;
  border: 0px solid;
  cursor: pointer;
}

#submit:hover {
  background-color: #5a1f70;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.30);
  transition: background-color 1s, box-shadow 1s;
}

.nav-link {
  display: flex;
  color: #333;
  font-size: 1.2em;
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 70px auto;
}
.about-list{
  color: white;
  margin: 2px 62px; 
  font-weight: bold;
}
.product-image{
  margin-top: 120px;
}
.product-heading{
  display: inline-block;
}
.footer{
  height: 150px;
  background-color:black;
  opacity: .7;
  color: white;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
